*{
    margin: 0;
    padding: 0;
}

.bg-nav{
	background-color: rgb(234, 241, 241);
}

.navbar{
	height: 75px;
}
  
.nav-item{
	padding-right: 40px;
	font-size: 20px;
	background: rgb(255, 255, 255);
	font-weight: 900;
}

.dropdown-item{
	font-size: 20px;
	font-weight: 800;
}
  
.navbar-brand{
	padding-left: 75px;
}

.container-fluid a{
	color: black;
	text-decoration: none;
}
  
.tituloNav{
	padding-top: 20px;
	color: black;
	text-decoration: none;
}